.btnAns{
    padding: 8px 20px;
    background-color: #0b58a7;
    color: #fff;
    border-radius: 15px;
    cursor: pointer;
    border-style: none;
    margin-left: 5px;
    font-size: 26;
  }
  
.btnAns:hover{
    background-color: #064484;
}

.resButtons button{
  background-color:#bad0c9;
	border-radius:15px;
	cursor:pointer;
	padding:8px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
  margin-top: 10px;
  border-style: none;
  font-size: 17px;
  width: 100%;
}

.resButtons button:hover{
  background-color: #9ab5ca;
}

.resButtons[disabled]{
  pointer-events: none;
}

.resButtons .correct,
.resButtons .correct:hover{
  background-color:green;
	border-radius:15px;
	cursor:pointer;
	padding:8px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
  margin-top: 10px;
  border-style: none;
  font-size: 17px;
  width: 100%;
  color: white;
}

.resButtons .incorrect,
.resButtons .incorrect:hover{
  background-color:red;
	border-radius:15px;
	cursor:pointer;
	padding:8px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
  margin-top: 10px;
  border-style: none;
  font-size: 17px;
  width: 100%;
  color: white;
}